<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.hyfree.sinteam.dmobile">

    <!-- 电源管理，防止播放视频时进入休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 文件访问权限 -->
    <!-- 新版本的安卓在这里申明权限的情况下，仍然需要在调用处显式的申请 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 腾讯浏览器服务，基于X5 -->
    <!-- 读写储存卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取当前WiFi接入的状态以及WLAN热点的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 访问互联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ACModel.AM_main"
            android:label="@string/title_activity_am_main"></activity>
        <activity android:name=".view.MainActivity"
            android:theme="@style/AppTheme.NOActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->


                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".view.MyselfActivity" />
        <activity android:name=".view.ShoppingcarActivity" />
        <activity
            android:name=".view.GoodslistActivity"
            android:label="@string/title_activity_goodslist"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".view.MyinfoActivity" />
        <activity android:name=".view.GoodsdetailActivity" />
        <activity android:name=".view.MyHistoryActivity" />
    </application>

</manifest>